# Игнорировать все бинарные файлы
*.class
*.jar
*.war
*.ear
*.bin
*.exe
*.dll
*.so
*.o
*.a
*.lib
*.out

# Игнорировать специфичные для IDE файлы
.idea/
*.iml
*.ipr
*.iws

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать лог-файлы
*.log

# Игнорировать выходные директории сборки
out/
target/
build/
bin/

# Игнорировать временные файлы
*.tmp
*.bak
*.swp
*~

# Игнорировать файлы зависимостей
*.classpath
*.project
.settings/